[Unit]
Description={{ app_name }} socket

[Socket]
ListenStream={{ gunicorn_sock_file }}
# Our service won't need permissions for the socket, since it
# inherits the file descriptor by socket activation
# only the nginx daemon will need access to the socket
#User=www-data
SocketUser={{ app_user }}
SocketGroup=nginx
# Optionally restrict the socket permissions even more.
#SocketMode=600

[Install]
WantedBy=sockets.target
